body {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 15%;
    background: linear-gradient(to right, pink, purple);
    font-family: "Lucida Console", Monaco, monospace;
}

h1 {
    font-size: xx-large;
    letter-spacing: 6px;
    word-spacing: 6px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: normal;
    text-transform: uppercase;
}
h2 {
    font-size: x-large;
}
h3 {
    font-size: large;
}